/* Configuração global da página - reset */
* {
    padding: 0;
    margin: 0;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
    background: none;
}

/* Variáveis */
:root {
    /* Paleta de cores */
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-blue: #007AFF;
    --color-dark-blue: #00537F;
    --color-green: #AFC200;
    --color-dark-green: #6F8500;
    --color-yellow: #FFCC00;

    /* Fontes */
    --font-body: "Inter", sans-serif;
    --font-title: "Roboto", sans-serif;

    /* Tamanho da fonte */
    --font-size-p: 16px;
    --font-size-h1: 54px;
    --font-size-h2: 44px;
    --font-size-h3: 36px;
    --font-size-h4: 30px;

    /* Peso da fonte */
    --font-w-p: 400;
    --font-w-a: 600;
    --font-w-h: 700;
}