@import url("./global.css");

/* Header - Cabeçalho */
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 24px 64px 0px 64px;
  width: 100%;
}

.divisor-1 {
  display: none;
}

.navigation-header {
  display: flex;
  justify-content: flex-start;
  gap: 32px;
  width: 100%;
}

.navigation-header > a {
  font-size: var(--font-size-p);
  font-family: var(--font-body);
  font-weight: var(--font-w-a);
  color: var(--color-black);
}

.btn-group {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  width: 100%;
}

.btn-group > a {
  background-color: var(--color-blue);
  padding: 12px 24px;
  border-radius: 8px;
  color: var(--color-white);
  font-size: var(--font-size-p);
  font-family: var(--font-body);
  font-weight: var(--font-w-p);
  transition-duration: background-color 0.5s ease-out;
}

.btn-group > a:hover {
  background-color: var(--color-dark-blue);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/* Main - Conteúdo Principal */
main {
  display: flex;
  padding: 112px 0px 112px 0px;
  width: 100%;
  flex-direction: column;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  padding: 64px;
  width: 100%;
}

.video-biolab > video {
  display: flex;
  width: 562px;
  border-radius: 3px;
}

.content-home {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  width: 100%;
}

.content-home > h1 {
  color: var(--color-black);
  font-size: var(--font-size-h1);
  font-family: var(--font-title);
  font-weight: var(--font-w-h);
}

.content-home > h1 > span {
  color: var(--color-blue);
}

.content-home > p {
  color: var(--color-black);
  font-size: var(--font-size-p);
  font-family: var(--font-body);
  font-weight: var(--font-w-p);
}

form {
  font-display: flex;
  gap: 16px;
}

.content-home > form > input {
  border: 1px solid var(--color-dark-blue);
  border-radius: 6px;
  padding: 12px;
  width: 320px;
}

.content-home > form > button {
  background-color: var(--color-blue);
  border-radius: 6px;
  padding: 12px 24px;
  color: var(--color-white);
  cursor: pointer;
  transition-duration: background-color 0.5s ease-out;
}

.content-home > form > button:hover {
  background-color: var(--color-dark-blue);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/* Efeito Parallax */

.content-parallax > section {
  width: 100%;
  height: 160px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.content-parallax > section:nth-of-type(2) {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(./image-parallax.jpeg);

  background-size: cover;
  background-position: center;
  height: 550px;
}

/* Sessão de Estatísticas */

.content-statistics {
  display: flex;
  flex-direction: column;
  padding: 112px 64px 0px 64px;
  gap: 80px;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 768px;
  gap: 16px;
}

.title > h2 {
  color: var(--color-black);
  font-family: var(--font-title);
  font-size: var(--font-size-h2);
  font-weight: var(--font-w-h);
}

.title > h2 > span {
  color: var(--color-blue);
}

.title > p {
  color: var(--color-black);
  font-family: var(--font-body);
  font-size: var(--font-size-p);
  font-weight: var(--font-w-p);
}

.content-pics {
  display: flex;
  justify-content: center;
  gap: 48px;
}

.content-pics > picture:nth-of-type(1) {
  display: flex;
  flex-direction: column;
  margin-top: 0px;
  gap: 32px;
  width: 394px;
  height: 512px;
}

.content-pics > picture:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  gap: 32px;
  width: 394px;
  height: 512px;
}

.content-pics > picture:nth-of-type(3) {
  display: flex;
  flex-direction: column;
  margin-top: 160px;
  gap: 32px;
  width: 394px;
  height: 512px;
}

.content-pics > picture > h3 {
  color: var(--color-blue);
  font-family: var(--font-title);
  font-size: var(--font-size-h3);
  font-weight: var(--font-w-h);
}

.content-pics > picture > h3 > span {
  color: var(--color-dark-blue);
}

.content-pics > picture > p {
  color: var(--color-black);
  font-family: var(--font-body);
  font-size: var(--font-size-p);
  font-weight: var(--font-w-p);
}

/* Sessão de Avaliações */

.reviews {
  display: flex;
  gap: 80px;
  flex-direction: column;
  padding: 0px 64px;
}

.reviews-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.content-reviews {
  display: flex;
  justify-content: center;
  gap: 48px;
}

.content-reviews > .cards {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--color-dark-blue);
  width: 406px;
  height: 254px;
  padding: 32px 32px;
  gap: 24px;
}

.content-reviews > .cards > .people-info {
  display: flex;
  flex-direction: column;
}

.profile {
  display: flex;
  align-items: center;
  gap: 16px;
}

.people-info > img {
  width: 48px;
  height: 48px;
}

.reviews-title > h2 {
  color: var(--color-blue);
  font-family: var(--font-title);
  font-size: var(--font-size-h2);
  font-weight: var(--font-w-h);
}

.reviews {
  color: var(--color-black);
  font-family: var(--font-body);
  font-size: var(--font-size-p);
  font-weight: var(--font-w-p);
}

.people-info > .bold {
  font-weight: var(--font-w-a);
}

/* Sessão de Contato */
.contact {
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding: 112px 64px 0px 64px;
  color: var(--color-black);
  font-family: var(--font-body);
  font-size: var(--font-size-p);
  font-weight: var(--font-w-p);
}

.contact-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 18px;
}

.content-contact {
  display: flex;
  justify-content: center;
  gap: 48px;
}

.content-contact > .cards {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.content-contact > .cards > img {
  width: 48px;
  height: 48px;
}

.contact-title > .dark-blue {
  color: var(--color-dark-blue);
  font-weight: var(--font-w-a);
}

.contact-title > h2 {
  color: var(--color-blue);
  font-size: var(--font-size-h2);
  font-family: var(--font-title);
  font-weight: var(--font-w-h);
}

.content-contact > .cards > h4 {
  color: var(--color-blue);
  font-family: var(--font-title);
  font-size: var(--font-size-h4);
  font-weight: var(--font-w-h);
}

.content-contact > .cards > .underlined {
  text-decoration: underline;
}

/* Footer */
footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 80px;
  padding: 112px 64px;
  color: var(--color-black);
  font-family: var(--font-body);
  font-size: var(--font-size-p);
  font-weight: var(--font-w-p);
}

footer > nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 32px;
}

footer > nav > a {
  color: var(--color-black);
  font-size: var(--font-size-p);
  font-weight: var(--font-w-a);
}

.divisor {
  border-top: 1px solid var(--color-dark-blue);
  width: 100%;
}

.rights {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 50px;
}

.rights > nav {
  display: flex;
  gap: 32px;
}

@media screen and (max-width: 768px) {
  /* Header */
  header {
    flex-direction: column;
    gap: 32px;
    padding-bottom: 24px;
  }

  .divisor-1 {
    display: flex;
    border: 1px solid var(--color-dark-blue);
    width: 100%;
    order: 2;
  }

  .logo-biolab {
    display: flex;
    flex-direction: column;
    order: 1;
  }

  .navigation-header {
    flex-direction: column;
    order: 3;
  }

  .btn-group {
    flex-direction: column;
    align-items: center;
    order: 4;
  }

  .btn-group > a {
    text-align: center;
    width: 100%;
  }

  /* Main -  */
  main {
    padding-top: 0px;
    padding-bottom: 24px;
  }

  .home {
    flex-direction: column-reverse;
    padding-bottom: 0px;
  }

  .content-home {
    flex-direction: column;
    align-items: center;
    text-align: left;
  }

  .content-home > form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .content-home > form > input {
    width: 100%;
  }

  .content-home > form > button {
    width: 100%;
  }

  .video-biolab {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 0px;
  }

  .video-biolab > video {
    width: 100%;
  }

  /* Efeito parallax */
  .content-parallax > section:nth-of-type(1) {
    height: 80px;
  }

  .content-parallax > section:nth-of-type(3) {
    height: 80px;
  }

  .content-parallax > section {
    background-attachment: scroll;
  }

  .content-parallax > section:nth-of-type(2) {
    height: 130px;
  }

  
}
